@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.normalTheme{
    background: rgb(77,0,77) !important;
    background: linear-gradient(132deg, rgba(77,0,77,1) 1%, rgba(0,105,95,1) 51%, rgba(0,35,110,1) 100%) !important; 

}


/* 
body{
    background: rgb(1,4,89);
    background: linear-gradient(144deg, rgba(1,4,89,1) 8%, rgba(36,0,80,1) 20%, rgba(23,22,22,1) 37%, rgba(10,0,0,1) 66%, rgba(42,0,0,1) 85%); 
} */

/* body{
    background: linear-gradient(319deg, #000598 , #008983, #7e009d);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:1% 0%}
    50%{background-position:99% 100%}
    100%{background-position:1% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:1% 0%}
    50%{background-position:99% 100%}
    100%{background-position:1% 0%}
}
@keyframes AnimationName {
    0%{background-position:1% 0%}
    50%{background-position:99% 100%}
    100%{background-position:1% 0%}
} */


#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}



   .glassmorphism-01{
        background: rgba(255, 254, 254, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(255, 254, 254, 0.3);
    }
    .glassmorphism-02{
    
    background: rgba(36, 0, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(36, 0, 255, 0.33);
    }
    .glassmorphism-03{
        /* From https://css.glass */
background: rgba(87, 255, 220, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.2px);
-webkit-backdrop-filter: blur(8.2px);
border: 1px solid rgba(87, 255, 220, 0.85);
    }
    .depth-effect{
        box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.82);
    }

    .tint-effect{
        box-shadow: 0px 6px 43px 11px rgba(0,0,0,0.4),inset 0px 0px 19px 27px rgba(1,1,1,0.1);
    }