@tailwind base;
@tailwind components;
.hideDropdown{
    display: none !important;
}
.showDropdown{
    display: block !important;
}

@tailwind utilities;
*{
    scroll-behavior: smooth;
}
body{
    background: rgb(77,0,77) !important;
    background: linear-gradient(132deg, rgba(77,0,77,1) 1%, rgba(0,105,95,1) 51%, rgba(0,35,110,1) 100%) !important; 
}
